fastapi
uvicorn[standard]
python-dotenv
langchain
langchain-openai
langchain-community
langchain-core
langchainhub
supabase
openai
pydantic
langfuse
pypdf
python-docx
unstructured
pandas
openpyxl
pymupdf
mistralai

